<md-dialog aria-label="Login" ng-cloak ng-controller="LoginCtrl">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ratings for {{beer.bname}}</h2>
        <span flex></span>
       <!--  <md-button aria-label="cancel" class="md-icon-button" ng-click="cancel()">
        </md-button> -->
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          
          RATINGS WILL BE SHOWN HERE
          
          </div>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      <md-button ng-click="sendLoginInfo($event)" target="_blank" md-autofocus>
        Log me in Captain!
      </md-button>
      <span flex></span>
    </md-dialog-actions> -->
  </form>
</md-dialog>