<md-dialog aria-label="Login" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Ratings for {{beer.bname}}</h2>
        <span flex></span>
       <!--  <md-button aria-label="cancel" class="md-icon-button" ng-click="cancel()">
        </md-button> -->
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
          
        <md-list flex id="search-list">

          <md-list-item class="md-3-line" multiple="true" ng-repeat="review in reviews">
            <img ng-src="images/stock-beer.jpg" class="md-avatar" alt="images/stock-beer.jpg" />
            <div class="md-list-item-text" layout="column">
              <h3>{{review.reviewerName}}</h3>
              <h4>{{review.rating}} Stars</h4>
              <p>{{review.review}}</p>
            </div>
            
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>

        </md-list>
          
      </div>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      <md-button ng-click="sendLoginInfo($event)" target="_blank" md-autofocus>
        Log me in Captain!
      </md-button>
      <span flex></span>
    </md-dialog-actions> -->
  </form>
</md-dialog>