<md-dialog aria-label="Signup" ng-cloak ng-controller="LoginCtrl">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Please Provide Your Desired Account Information</h2>
        <span flex></span>
        <!-- <md-button aria-label="cancel" class="md-icon-button" ng-click="cancel()">
        </md-button> -->
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">

        <form name="signupForm">
          <!-- <div layout-gt-sm="column"> -->
          <div layout="column">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Username</label>
              <input ng-model="signupInfo.username">
            </md-input-container>
   
            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input ng-model="signupInfo.password">
            </md-input-container>

            <md-button ng-click="sendSignupInfo($event)" target="_blank" md-autofocus>
              Sign Me Up Captain!
            </md-button>
          </div>
    	  </form>

      </div>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row">
      <md-button ng-click="sendSignupInfo($event)" target="_blank" md-autofocus>
        Sign Me Up Captain!
      </md-button>
      <span flex></span>
    </md-dialog-actions -->
  </form>
</md-dialog>